@use '../foundation/setting' as *;

.l-footer{
  background-color: $c-main;
  &__inner{
    padding: 10px 0;
    @include mq{
      max-width: $inner_width;
      margin: 0 auto;
      padding: 20px 0;
    }
  }
  &__copyright{
    display: block;
    color: #fff;
    text-align: center;
  }
}