@use '../foundation/setting' as *;

.l-header {
  position: relative;
  width: 100%;
  margin-bottom: 20px;
  background-color: $c-main;
  @include mq {
    margin-bottom: 50px;
  }
  &__inner {
    position: relative;
    width: 100%;
    padding: 20px;
    @include mq {
      padding: 0 70px;
    }
  }
  &__title{
    display: block;
    width: 100%;
    color: $c-base;
    font-size: 24px;
    text-align: center;
    line-height: 2;
    @include mq {
      font-size: 32px;
    }
  }
}
