@use '../foundation/setting' as *;

.l-header {
  position: relative;
  width: 100%;
  height: 60px;
  background-color: $c-base;
  @include mq {
    height: 90px;
  }
  &__inner {
    position: relative;
    overflow-x: hidden;
    width: 100%;
    padding: 20px;
    @include mq {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      align-items: center;
      height: 100%;
      padding: 0 70px;
    }
  }
}
